@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald:wght@300&display=swap');
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{
  text-decoration:none;color:white;
}
.active {
    background-color:steelblue;
}
.logo{
    width:250px

}
#geeks2 {
    width: 100%;
    position: relative;
    background: #ffd11a;
    z-index: -2;
}

    #geeks2::before {
        content: "";
        width: 50%;
        height: 200px;
        position: absolute;
        top: -48px;
        left: 0;
        background: black;
        transform: skewY(8deg);
        z-index: -2;
    }
    #geeks2::after {
        content: "";
        width: 50%;
        height: 200px;
        position: absolute;
        top: -48px;
        right: 0;
        background: black;
        transform: skewY(-8deg);
        z-index: -2;
    }
h1 {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 3px;
}
h2 {
    font-family: 'Oswald', sans-serif;
    letter-spacing:5px;
}